<div class="skeleton-container">
    <div class="skeleton-border" *ngFor="let i of arr">
        <div class="skeleton-div">
          <div>
            <ngx-skeleton-loader
              appearance="rectangle"
              [theme]="{ width: '41.1875rem', height: '0.9375rem' }"
            >
            </ngx-skeleton-loader>
          </div>
          <div>
            <ngx-skeleton-loader
              appearance="rectangle"
              [theme]="{ width: '6.8125rem', height: '0.9375rem' }"
            >
            </ngx-skeleton-loader>
          </div>
        </div>
    </div>
</div>

  