<div class="login--layout">
    <div>
        <span>Don;t have a Profile? <a href="">Sign up</a></span>
        <h2>Log In</h2>
        
    </div>
    <div class="demo-section">
        <img src="../../../assets/images/Email white.svg" />
        <div class="demo-video">
            <div class="notch"></div>
            <img src="../../../assets/images/oc-tour-recruit-mobile-anim.gif" />
        </div>
        <p class="description">
            Find multiple ways to quickly recruit supporters on the <b>Supporters screen</b>
        </p>
    </div>
</div>