<div class="login--layout">
  <div class="form-login-section">
    <span class="form-login--link"
      >Don't have a Profile? <a href="">Sign up</a></span
    >
    <h1 class="form-login--header">Log In</h1>
    <img src="../../../assets/images/google-signIn.svg" width="100%" />
    <div class="seprator">
      <span class="seprator-line"></span>
      <div class="seprator-text">
        <div>OR</div>
      </div>
      <span class="seprator-line"></span>
    </div>
    <app-login-form></app-login-form>
  </div>
  <div class="demo-section">
    <img src="../../../assets/images/Email white.svg" />
    <div class="demo-video">
      <div class="notch"></div>
      <img src="../../../assets/images/oc-tour-recruit-mobile-anim.gif" />
    </div>
    <p class="description">
      Find multiple ways to quickly recruit supporters on the
      <b>Supporters screen</b>
    </p>
  </div>
</div>
