<div class="sidebar-nav">
    <div>
        ginger group
    </div>
    <ul>
        <li>
            <div><img src="../../../assets/images/dashboard.svg" /></div>
            <span>Dashboard</span>
        </li>
        <li>
            <div><img src="../../../assets/images/fadeAction.svg" /></div>
            <span>Actions</span>
        </li>
        <li>
            <div><img src="../../../assets/images/fadeSupporter.svg" /></div>
            <span>Supporters</span>
        </li>
        <li class="active">
            <div><img src="../../../assets/images/Group.svg" /></div>
            <span>Groups</span>
        </li>
        <li>
            <div><img src="../../../assets/images/report.svg" /></div>
            <span>Reports</span>
        </li>
        <li>
            <div><img src="../../../assets/images/list.svg" /></div>
            <span>Lists / Voter Files</span>
        </li>
        <li>
            <div><img src="../../../assets/images/setting.svg" /></div>
            <span>Settings</span>
        </li>
        <li>
            <div><img src="../../../assets/images/about.svg" /></div>
            <span>About</span>
        </li>
    </ul>
    <div>
        All outreachCircles
    </div>
</div>