.sidebar{
    background: #F5F5F5;
    position: fixed;
    width: 14rem;
    height: 100vh;
    top: 4.75rem;
}

.list{
    background: #fff;
    width: 13.75rem;
    height: 2.5rem;
}

.active{
    color: #008CAA;
    font-style: normal;
    font-weight: 600;
    font-size: 1rem;
    letter-spacing: 0.0015em;
    padding-left: 2.5rem;
    padding-top: 0.56rem;
}