.dialog-heading{
  background-color:#2a2a2a;
}
.dialog-heading>p{
 color: #ffff;
 padding: 1.2rem 6rem;
 font-size: 18px;
 line-height: 1.2;
 font-weight: 400;
}
.dialog-group-tag{
font-size: 13px;
font-weight: 400;
line-height: 18px;
letter-spacing: 0px;
color:  #777777;
padding-top: .5rem;
padding-left: 1.2rem;
}
.dialog-input{
  padding-left: 1.2rem;
  padding-right: 1.2rem;
  display: flex;
  justify-content: space-between;
}
.dialog-input>input{
  height: 22px;
  border:none;
  outline: none;
  color: #777777;
font-size: 16px;
line-height: 22px;
flex: 1;
}
img:hover{
  cursor: pointer;
}
.horizontal-parent{
  width: 90%;
  margin: auto;
  margin-top: 15px;
}
.horizontal {
  background-color: teal;
  height: 2px;
  margin: auto;
  animation: line 0.2s ease-out forwards;
}
 .horizontal-none{
  background-color: #F05C40;
  height: 2px;
  margin: auto;
  animation: line 0.2s ease-out forwards;
}
.dialog-important>p{
  padding: .5rem 1.2rem 0 1.2rem;
  color:  #777777;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.125;
  letter-spacing: normal;
}
.dialog-button{
  display: flex;
  justify-content: flex-end;
  padding: 2rem 1.2rem 1.2rem 0;
  gap: 1rem;
}
.cancel-button{
  width:7rem;
  padding:  0 1rem;
  height: 2.5rem;
  border: 1px solid #2493AF;
  border-radius: 4px;
  color:#008caa;
  background-color: #ffff;
  font-size: 16px;
  font-weight: 600;
}
.cancel-button:hover{
  background-color:  #F2F9FB;
  cursor: pointer;
}
.save-button{
  width:7rem;
  padding:  0 1rem;
  height: 2.5rem;
  border: 1px solid #2493AF;
  border-radius: 2px;
  color:#ffff;
  background-color:#008caa;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  cursor: pointer;
}
.save-button:disabled{
background-color: #0000001F;
border: none;
}

::ng-deep .mat-progress-spinner circle, .mat-spinner circle {
  stroke: #fff;
  }









