<div class="create-group-container">
  <div class="dialog-heading"><p>Enter a unique name for this group</p></div>
  <div class="dialog-contents">
    <div class="dialog-group-tag">
      <p
        [ngStyle]="
          errorMsg !== ''
            ? { color: '#f05c40' }
            : { color: '#008caa' }
        "
      >
        GROUP NAME
      </p>
    </div>
    <div class="dialog-input">
      <input
        type="text"
        placeholder="Type a name that is specific and descriptive"
        required
        autocomplete="off"
        [(ngModel)]="name"
      />

      <img
        *ngIf="name !== ''"
        src="../../../assets/images/crossIcon.svg"
        alt=""
        (click)="remove()"
      />
    </div>
    <div class="horizontal-parent">

      <div *ngIf="errorMsg == ''" class="horizontal"></div>
      <div *ngIf="errorMsg != ''" class="horizontal-none"></div>
    </div>

    <div class="dialog-important">
      <small *ngIf="name == null || name && !errorMsg">Hint: Enter a name between 3 and 50 characters</small>
      <small *ngIf="name == '' && isclick " [ngStyle]="{ color: '#f05c40' }">
        Name is required
      </small>
      <small *ngIf="errorMsg !== '' && name != ''" [ngStyle]="{ color: '#f05c40' }">
        {{ errorMsg }}
      </small>
    </div>
  </div>
  <div class="dialog-button">
    <button mat-button mat-dialog-close class="cancel-button">Cancel</button>
    <div *ngIf="loader">
      <button
        mat-button
        class="save-button"
        (click)="createGroup()"
        [disabled]="name && (name.length < 3 || name.length > 50)"
      >
        <mat-spinner strokeWidth="3" diameter="30"> </mat-spinner>
      </button>
    </div>
    <div *ngIf="!loader">
      <button
        mat-button
        class="save-button"
        (click)="createGroup()"
        [disabled]="name && (name.length < 3 || name.length > 50 || errorMsg != '')"
      >
        Continue
      </button>
    </div>
  </div>
</div>
