<div class="navbar">
  <div class="brand">
    <img src="../../../assets/images/Email white.svg" />
  </div>
  <div class="user">
    <div class="user-logo">
      <img src="../../../assets/images/user-logo.svg" />
    </div>
    <div class="user-details">
      <div class="name">Aaditi Harale</div>
      <div class="email">aaditiharale1@gmail.com</div>
    </div>
    <div class="logout-btn">
      <!-- <mat-icon>expand_more</mat-icon> -->
      <a> <img src="../../../assets/images/down-arrow.svg" /> </a>
    </div>
  </div>
</div>
