<div class="container">
    <div class="navbar">
        <app-navbar></app-navbar>
    </div>
    <div class="main-section">
        <div class="sidebar">
            <app-sidebar></app-sidebar>
        </div>
        <div class="body">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>
<button mat-button [matMenuTriggerFor]="menu">
    Web Technologies
</button>
  
<mat-menu #menu="matMenu">
  <button mat-menu-item>HTML</button>
  <button mat-menu-item>CSS</button>
  <button mat-menu-item>JQuery</button>
  <button mat-menu-item>Bootstrap</button>
  <button mat-menu-item>Angular</button>
  <button mat-menu-item>React.js</button>
</mat-menu>

