.outer-div {
  border-radius: 3px;
  border: 1px solid #d6d6d6;
  display: flex;
  position: relative;
  overflow: hidden;
}
.logo {
  width: 16rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #cfeaef;
}
.logo-img {
  height: 6.5rem;
  width: 6.5rem;
}
.meta-info {
  width: 100%;
  padding:10px 20px;
}
.oc-name-active {
  height: 1.5rem;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 140%;
  color: #2493af;
}
.oc-name-active:hover , .oc-name-inactive:hover {
  text-decoration: underline;
  cursor: pointer;
}
.oc-name-inactive {
  height: 1.5rem;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 140%;
  color: #f05c40;
}

.oc {
  display: flex;
  justify-content: space-between;
}
.oc-options {
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
  background-color: #d5e9ed;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.oc-options:hover {
  background-color: teal;
}

.oc-options > div {
  display: flex;
  flex-direction: column;
  gap: 1.5px;
}

.oc-options > div span {
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: black;
}

.oc-options:hover > div span {
  background-color: #fff;
}
.location {
  display: flex;
  align-items: center;
  gap:4px;
  margin-top: 0.5rem;
}

.location img{
  width: 13px;
  height: 13px;
}
.location > p {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  color: #979797;
}
.oc-type {
  display: flex;
}
.oc-type-value {
  display: flex;
  align-items: center;
  justify-content: center;
  /* max-width: 2rem; */
}
.oc-type-contents {
  border-right: 1px solid #d6d6d6;
  /* border: solid 1px red; */
  padding: 10px 50px;
}
.oc-type-contents:last-child{
  border-right: none;
}

.oc-type-contents > div{
  margin: auto;
  padding: .5rem;
}
.oc-type-contents > div:hover {
  background-color: #f7f7f7;
  /* border-radius: 5px; */
  cursor: pointer;
}

.oc-type-value-count {
  height: 34px;
  font-weight: 600;
  font-size: 24px;
  line-height: 140%;
  text-align: center;
  color: #2a2a2a;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.oc-type-value-name {
  /* height: 22px; */
  left: calc(50% - 84px / 2 - 197px);
  font-weight: 600;
  font-size: 16px;
  line-height: 140%;
  letter-spacing: 0.0015em;
  color: #2a2a2a;
}
.oc-type-logo {
  height: 1.5rem;
  width: 1.5rem;
  margin-right: 0.5rem;
  left: 0px;
  top: 0px;
  border-radius: 0px;
}
.oc-type-value-category {
  display: flex;
  justify-content: center;
}


.tag{
  position: absolute;
  top:26px;
  left:-45px;
  padding: 3px 40px;
  text-align: center;
  background-color:#f05c40;;
  transform: rotate(-45deg);
  font-size: 12px;
  font-weight: 700;
  color: #fff;
}