<div class="outer-div ">
  <div class="tag" *ngIf="!outreachcircleitem.status.createdAndActivate">Set up Pending</div>
  <div class="logo">
    <img
      class="logo-img"
      src="https://client.acarahealthcare.in/assets/svg/outreach-circle-logo-placeholder2.svg"
      alt="logo"
    />
  </div>

  <div class="meta-info">
    <div class="oc">
      <div>
        <p [ngClass]="outreachcircleitem.status.createdAndActivate? 'oc-name-active':'oc-name-inactive'">{{ outreachcircleitem.name }}</p>
        <div
          class="location"
          [ngStyle]="{opacity : outreachcircleitem.state !== null && outreachcircleitem.city !== null ? '1' : '0'}"
          
        >
          <img src="../../../assets/images/icon.svg" alt="" />
          <p>{{ outreachcircleitem.city }}, {{ outreachcircleitem.state }}</p>
        </div>
      </div>

      <div class="oc-options">
        <div>
          <span></span>
          <span></span>
          <span></span>
        </div>
      </div>
    </div>

    <div class="oc-type">
      <div class="oc-type-contents">
        <div>
          <div class="oc-type-value">
            <img
              class="oc-type-logo"
              src="../../../assets/images/Supporter.svg"
              alt="supporter"
            />
            <p class="oc-type-value-count">
              {{ outreachcircleitem.supporterCount }}
            </p>
          </div>
          <div class="oc-type-value-category">
            <p class="oc-type-value-name">Supporters</p>
          </div>
        </div>
      </div>

      <!-- <div class="vertical"></div> -->

      <div class="oc-type-contents">
        <div>
          <div class="oc-type-value">
            <img
              class="oc-type-logo"
              src="../../../assets/images/Action.svg"
              alt="supporter"
            />
            <p class="oc-type-value-count">
              {{ outreachcircleitem.actionCount }}
            </p>
          </div>
          <div class="oc-type-value-category">
            <p class="oc-type-value-name">Actions</p>
          </div>
        </div>
      </div>

      <!-- <div class="vertical"></div> -->

      <div class="oc-type-contents">
        <div>
        <div class="oc-type-value">
          <img
            class="oc-type-logo"
            src="../../../assets/images/Link.svg"
            alt="supporter"
          />
          <p class="oc-type-value-count">{{ outreachcircleitem.aliasCount }}</p>
        </div>
        <div class="oc-type-value-category">
          <p class="oc-type-value-name">Links</p>
        </div>
      </div>
      </div>

      <!-- <div class="vertical"></div> -->

      <div class="oc-type-contents" (click)="groups()">
        <div>
        <div class="oc-type-value" >
          <img
            class="oc-type-logo"
            src="../../../assets/images/Group.svg"
            alt="supporter"
          />
          <p class="oc-type-value-count">
            {{ outreachcircleitem.groupsCount }}
          </p>
        </div>
        <div class="oc-type-value-category">
          <p class="oc-type-value-name">Groups</p>
        </div>
      </div>
      </div>
    </div>
  </div>
</div>
