main{
    background-color: #fff;
}
.title{
    font-weight: 600;
    font-size: 36px;
    letter-spacing: 0.0025em;
}

.sub-title{
    color: #777777;
    padding: 10px 0 0 0;
    font-size: 18px;
}
.oc-data{
    position: relative;
}
