main {
  background-color: #fff;
}
.title {
  font-weight: 600;
  font-size: 36px;
  letter-spacing: 0.0025em;
}

.sub-title {
  color: #777777;
  padding: 10px 0 0 0;
  font-size: 18px;
}
.oc-data {
  position: relative;
}


.not-found{
  color : #777;
  text-align: center;
  padding: 20px;

}

.not-found button{
  padding: 10px 25px;
  margin-top: 20px;
  border: 1px solid #008caa;
  color : #008caa;
  background-color: transparent;
  border-radius: 3px;
}