<main>
  <div class="home-body">
    <div class="title">All OutreachCircles</div>
    <div class="sub-title">
      <span *ngIf="sizeOfOc != 0">You are an admin for {{ sizeOfOc }} OutreachCircles</span>
      <span *ngIf="sizeOfOc == 0">No OutreachCircles Found.</span>
    </div>
    <app-filter-search
      (getFilterValue)="filterValues($event)"
      (getSearchFilter)="searchValues($event)"
      (removeFilter)="handleRemoveFilter($event)"
    ></app-filter-search>
    <div *ngIf="!fetching" class="oc-data">

      <div *ngIf="outercircleList.length != 0 ; else emptyValues" class="allItems">
        <div *ngFor="let item of outercircleList">
          <app-outreachcircle-list-item
            [outreachcircleitem]="item"
          ></app-outreachcircle-list-item>
        </div>
      </div>
      <ng-template #emptyValues>
        <div class="not-found">
          <p>No OutreachCircles found matching the search/filter criteria.</p>
          <button (click)="handleRemoveFilter(true)">clear search</button>
        </div>
      </ng-template>
      
    </div>
    <div *ngIf="fetching">
      <app-skeleton></app-skeleton>
    </div>

    <h1 class="explore-header">Explore OutreachCircle</h1>
    <div class="outreach-desciptions">
      <div class="training-subscribe">
        <div>
          <h2>Subscribe to our training videos on YouTube</h2>
          <p>Learn how to set up and manage your OutreachCircle with this short training series.</p>
        </div>
        <button>Subscribe</button>
      </div>
      <div>
        <div>
          <h2>Videos</h2>
          <p>Want to quickly master OutreachCircle and learn some best practices ? Watch these shor videos.</p>  
        </div>
        <button>
          <span>Traninig Videos</span>
          <span>></span>
        </button>
      </div>
      <div>
        <div>
          <h2>FAQ</h2>
          <p>To better help customers learn more about OuutreachCircle , we've complied the following Frequently Asked Questions (FAQs).</p>  
        </div>
        <button>
          <span>Go To FAQ</span>
          <span>></span>
        </button>
      </div>
      <div>
        <div>
          <h2>Blog</h2>
          <p>Keep up to date on the latest news , trends , insights and best practices of OutreachCircle , relational organizing and other hot topics.</p>  
        </div>
        <button>
          <span>Go To Blog</span>
          <span>></span>
        </button>
      </div>
    </div>
  </div>
</main>
