<main>
  <div class="home-body">
    <div class="title">
      All OutreachCircles
    </div>
    <div class="sub-title">
      <span>You are an admin for {{outercircleList.length }} OutreachCircles</span>
    </div>
    <app-filter-search></app-filter-search>
    <div *ngIf="!fetching" class="oc-data">
      <div *ngFor="let item of outercircleList">
        <app-outreachcircle-list-item [outreachcircleitem]="item"></app-outreachcircle-list-item>
      </div>
    </div>
    <div *ngIf="fetching">
      <app-skeleton></app-skeleton>
    </div>
  </div>
</main>



