<div class="container-filter">
  <div class="search">
    <img src="../../../assets/images/search.svg" />
    <input
      class="input"
      type="search"
      placeholder="Search"
      (click)="searchClick()"
    />
  </div>
  <div class="filter" (click)="filter()">
    <button>
      <span>Filter by State</span>
      <img src="../../../assets/images/white-arrow.svg" />
    </button>
  </div>
</div>

<!-- search model -->
<div class="search-filter-model" *ngIf="displaySearch">
  <div class="model-header">
    <div class="search-title">
      <img src="../../../assets/images/search.svg" />
      <span class="search-name"> Search by the following </span>
    </div>
    <p class="cross" (click)="close()">
      <img src="../../../assets/images/Path.svg" />
    </p>
  </div>
  <form (ngSubmit)="search()" class="form-control" #searchOc="ngForm">
    <div class="input-parent">
      <label>OutreachCircle Name</label>
      <input type="text" class="oc-name" name="oc-name" ngModel />
      <div class="input-bottom-line"></div>
    </div>
    <div class="input-parent">
      <label>Admin First Name</label>
      <input type="text" class="first-name" name="first-name" ngModel />
      <div class="input-bottom-line"></div>
    </div>

    <div class="input-parent">
      <label>Admin Last Name</label>
      <input type="text" class="last-name" name="last-name" ngModel />
      <div class="input-bottom-line"></div>
    </div>
    <div class="apply">
      <button type="submit">Apply</button>
    </div>
  </form>
</div>

<!-- filter model -->
<div class="filter-box" *ngIf="filterSearch">
  <div class="filter-header">
    <div class="filter-header-name">
      <img src="../../../assets/images/Triple.png" alt="" />
      <p>Filter by State</p>
    </div>

    <div>
      <img
        (click)="closeFilterCountry()"
        src="../../../assets/images/Path.svg"
        alt=""
      />
    </div>
  </div>

  <div class="filterSearch">
    <img src="../../../assets/images/filtersearch.svg" alt="" />
    <input type="text" placeholder="Search" />
  </div>

  <form (ngSubmit)="filterSubmit()" #filterCountry="ngForm">
    <div class="select-all">
      <div class="custom-checkbox-container">
        <input type="checkbox" />
        <div class="custom-checkbox"></div>
      </div>
      <label for="">Select all ({{ selectedCountry }})</label>
    </div>

    <div class="country-data">
      <div *ngFor="let country of countryList | keyvalue" class="country-input">
        <div class="custom-checkbox-container">
          <input
            type="checkbox"
            class="check"
            [name]="'country.value'"
            ngModel
          />
          <div class="custom-checkbox"></div>
        </div>
        <label for="">{{ country.key }}</label>
      </div>
    </div>

    <div class="exclude">
      <div>
        <div class="custom-checkbox-container">
          <input type="checkbox" name="exclude" ngModel />
          <div class="custom-checkbox"></div>
        </div>
        <label for="">Exclude States</label>
      </div>
      <div>
        <button class="filter-apply" type="submit">Apply</button>
      </div>
    </div>
  </form>
</div>

<!-- Filter -->
